<div class="a">
  <div class="b">
    <div class="android">
      <div class="android-description">
        <div class="android-avatar">
          <img class="android-avatar-img" [src]="android.avatar">
        </div>
        <div class="android-info">
          <div class="android-name-buttons">
            <span class="android-name"> {{android.name}}</span>
          </div>
          <div class="android-status tagged">
            <span *ngIf="android.status">Status: enabled</span>
            <span *ngIf="!android.status">Status: disabled</span>
          </div>
          <div class="android-reliability tagged">
            <span class="reliability">Reliability: {{android.reliability}}</span>
          </div>
          <div class="android-job-info">
            <div class="job-name" *ngIf="android.assignedJob.name !== ''">Job: {{android.assignedJob.name}}send flowers</div>
            <div class="job-name" *ngIf="android.assignedJob.name === ''">Job: none</div>
            <span class="job-name-assign" *ngIf="android.status" (click)="startAssign()">Assign to Job</span>
          </div>
          <div class="android-buttons">
            <button type="button" class="tag btn android-edit-btn" (click)="onEnableEdit()"></button>
            <button type="button" class="tag btn android-delete-btn" (click)="onDelete(android)"></button>
          </div>
        </div>
        <div class="buttons-skills">
          <div class="skills" *ngFor="let skill of android.skills">
              <span class="skill-name">{{skill}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
