.a {
  position: relative;
  margin: 20px;
}
.a:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transition: width 1s, height 1s;
}
.a:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: -10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transition: width 1s, height 1s;
}
.b:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: -10px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  transition: width 1s, height 1s;
}
.b:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: -10px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transition: width 1s, height 1s;
}
.android {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  box-sizing: border-box;
  min-height: 100px;
}
.android .android-description {
  display: flex;
  width: 100%;
}
.android .android-description .android-avatar .android-avatar-img {
  height: 110px;
  width: 110px;
}
.android .android-description .android-info {
  padding: 0 20px;
  min-width: 140px;
}
.android .android-description .android-info .android-name-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.android .android-description .android-info .android-name-buttons .android-name {
  text-transform: uppercase;
  font-family: "Helvetica Neue", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}
.android .android-description .android-info .tagged {
  font-family: "Helvetica Neue", serif;
  letter-spacing: 1px;
  font-size: 17px;
}
.android .android-description .android-info .android-reliability {
  padding-bottom: 10px;
}
.android .android-description .android-info .android-status {
  padding: 10px 0;
}
.android .android-description .android-info .android-job-info .job-name {
  font-family: "Helvetica Neue", serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.android .android-description .android-info .android-job-info .job-name-assign {
  color: blue;
  cursor: pointer;
  font-family: "Helvetica Neue", serif;
  font-size: 18px;
  letter-spacing: 1px;
}
.android-buttons {
  display: flex;
  padding-top: 10px;
}
.android-buttons .btn {
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.android-buttons .android-edit-btn {
  background: url("../../../imgs/edit.svg") no-repeat;
  background-size: cover;
}
.android-buttons .android-delete-btn {
  background: url("../../../imgs/trash.svg") no-repeat;
  background-size: cover;
  margin-left: 15px;
}

.skills {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
  font-family: "Helvetica Neue", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.skill-delete {
  padding-left: 10px;
}
.skills:hover {
  background-color: blue;
  color: white;
}
