<header class="main-page-header">
  <div class="header-content">
    <div class="androids-section">
      <div class="header-corner">
        <div class="header-corner2">
          <div class="links">
            <div><a class="androids-link" (click)="onDisableAndroidCreate()" >Androids</a></div>
            <div class="create"><a class="create-link" (click)="onEnableAndroidCreate()">Create</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="jobs-section">
      <div class="header-corner">
        <div class="header-corner2">
          <div class="links">
            <div><a class="jobs-link" (click)="onDisableAndroidCreate()">Jobs</a></div>
            <div class="create"><a class="create-link" (click)="onEnableJobCreate()">Create</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
