<div class="main-page">
  <app-header (enableAndroidCreate)="onEnableAndroidCreate()"
              (disableAndroidCreate)="onDisableAndroidCreate()"
              (enableJobCreate)="onEnableJobCreate()"
              (disableJobCreate)="onDisableJobCreate()"></app-header>
  <div class="main-content">
    <div class="main-androids-section">
      <app-androids *ngIf="!createAndroidMode && !editAndroidMode"
                    (onAndroidEdit)="onAndroidEdit($event)"></app-androids>
      <app-android-create (cancelCreation)="onCancelCreation()"
                          *ngIf="createAndroidMode && !editAndroidMode"></app-android-create>
      <app-android-edit (cancelCreation)="onCancelCreation()" *ngIf="editAndroidMode && !createAndroidMode"
                        [android]="editedAndroid"></app-android-edit>
    </div>
    <div class="main-jobs-section">
      <div *ngIf="assignMode" class="assign-mode">
        <div class="choose-job-now">Choose job to assign</div>
        <div class="cancel-assign" (click)="cancelAssign()">Cancel</div>
      </div>
      <app-jobs (onJobEdit)="onEnableJobEdit($event)" *ngIf="!editJobMode && !createJobMode"></app-jobs>
      <app-job-creation *ngIf="createJobMode && !editJobMode"
                        (cancelJobCreation)="onDisableJobCreate()"></app-job-creation>
      <app-job-edit (cancelJobEdit)="onDisableJobCreate()" *ngIf="!createJobMode && editJobMode"
                    [job]="editedJob"></app-job-edit>
    </div>
  </div>
</div>
