<div class="main-page">
  <app-header (enableAndroidCreate)="onEnableAndroidCreate()"
              (disableAndroidCreate)="onDisableAndroidCreate()"
              (enableJobCreate)="onEnableJobCreate()"
              (disableJobCreate)="onDisableJobCreate()"></app-header>
  <div class="main-content">
    <div class="main-androids-section">
      <app-androids *ngIf="!createAndroidMode && !editAndroidMode" (onAndroidEdit)="onAndroidEdit($event)"></app-androids>
      <app-android-create (cancelCreation)="onCancelCreation()" *ngIf="createAndroidMode && !editAndroidMode"></app-android-create>
      <app-android-edit (cancelCreation)="onCancelCreation()" *ngIf="editAndroidMode && !createAndroidMode" [android]="editedAndroid"></app-android-edit>
    </div>
    <div class="main-jobs-section">
      <app-jobs></app-jobs>
    </div>
  </div>
</div>
