body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.main-page {
  width: 100%;
  min-height: 100vh;
  background: url("app/background.png") repeat-y;
  background-size: cover;
}


.main-content {
  height: 70%;
}
