.skills {
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
  font-family: "Helvetica Neue", serif;
  text-transform: uppercase;
  letter-spacing: 1px;

}


.skill-delete {
  padding-left: 10px;
}

.skills:hover {
  background-color: blue;
  color: white;
}


