.android-create .android-create-header {
  text-align: center;
  font-family: "Helvetica Neue", serif;
  text-transform: uppercase;
  font-weight: 300;
}
.android-create .android-create-form-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
.android-create .android-create-form-wrapper .android-create-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}
.android-create .android-create-form-wrapper .android-create-form input,
.android-create .android-create-form-wrapper .android-create-form textarea {
  font-family: "Helvetica Neue", serif;
  font-size: 18px;
  border: none;
  outline: none;
}
.android-create .android-create-form-wrapper .android-create-form .label {
  padding: 10px 0;
}
.android-create .android-create-form-wrapper .android-create-form .name-label {
  font-family: "Helvetica Neue", serif;
  font-size: 20px;
}
.android-create .android-create-form-wrapper .android-create-form .skills-label {
  font-family: "Helvetica Neue", serif;
  font-size: 20px;
}
.android-create .android-create-form-wrapper .android-create-form .name-input {
  padding: 10px;
}
.android-create .android-create-form-wrapper .android-create-form .skills-label {
  font-family: "Helvetica Neue", serif;
  font-size: 20px;
}
.android-create .android-create-form-wrapper .android-create-form .submit-btn {
  margin-top: 20px;
  cursor: pointer;
  background-image: url("../../../../maxresdefault.png");
  background-size: cover;
  color: white;
  padding: 8px;
  font-family: "Helvetica Neue", serif;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 10px;
}
.android-create .android-create-form-wrapper .android-create-form .cancel-wrapper {
  margin-top: 20px;
  text-align: center;
}
.android-create .android-create-form-wrapper .android-create-form .cancel-wrapper .cancel-creation {
  font-family: "Helvetica Neue", serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
.android-create .android-create-form-wrapper .android-create-form .cancel-wrapper .cancel-creation:hover {
  color: blue;
}
.a {
  position: relative;
  margin: 20px;
}
.a:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transition: width 1s, height 1s;
}
.a:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: -10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transition: width 1s, height 1s;
}
.b:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: -10px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  transition: width 1s, height 1s;
}
.b:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: -10px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transition: width 1s, height 1s;
}
